/* .footer {
    margin-top: -64px;
    height: 64px;
    clear: both;
    font-size: 13px;
    color: #999;
    background: #f5f5f5;
} */

.icon {
    width: 2em!important;
    height: 2em!important;
}

.footertext {
    justify-content: space-around;
}

.footer {
      top: auto!important;
      bottom: 0
    }