a {
    border: none!important;
    color: inherit!important;
}

.MuiAvatar-img {
    object-fit: contain!important;
}

.companyInfoText {
    margin: 4px 0;
}

.smallheader {
    margin: 24px 0 12px 0;
}

p.smalltext * {
    font-size: 0.75rem !important;
    line-height: 1.2rem
}

p.smalltext h3 {
    font-size: 1.17em!important;
    margin: 1em 0;
}

p.smalltext ul {
    margin: 1em 0;
    padding-inline-start: 40px;
}

.description-text {
    padding: 24px
}

.htaclass  {
        max-width: 100%;
    word-break: break-word;
    text-align: center;
}